@import '_tanjiro.scss';
@import '_parchemin.scss';
@import '_zeni.scss';

body {
    background-image: url('../img/DSbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
